[
    "users": [
        {
            "username": "testusernamehere",
            "password": "testpasswordhere"
        },
        {
            "username": "2ndtestusernamehere",
            "password": "2ndtestpasswordhere"
        }
    ]
]
