[
    {
        "name": "My Photos",
        "path": "/home/myuser/photos/",
        "auth": {
            "allow": {
                "users": [],
                "groups": ["group1"]
            },
            "deny": {
                "users": [],
                "groups": []
            }
        },
        "permissions": ["metadata", "nsfw"]
    },
    {
        "name": "Photos in backup",
        "path": "/data/backup/photos/",
        "auth": {
            "allow": {
                "users": [],
                "groups": ["group1"]
            },
            "deny": {
                "users": ["3rdtestusernamehere"],
                "groups": []
            }
        },
        "permissions": ["nsfw", "symlinks"]
    },
    {
        "name": "Test Path",
        "path": "/srv/test/pictures/",
        "auth": {
            "allow": {
                "users": [],
                "groups": ["group2"]
            },
            "deny": {
                "users": [],
                "groups": ["group1"]
            }
        },
        "permissions": ["gps", "metadata"]
    }
]
