body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}

#footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.file-thumb {
    width: 25px;
    height: 25px;
}

.dir-row .folder-icon {
    width: 25px;
    height: 25px;
}

#loader {
    width: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white;
    padding-right: 0 !important;
}
#loader .loader-img {
    margin-bottom: 5px;
    width: 100%;
}
#loader .progress {
    margin-bottom: 0;
}

#files-modal .toolset {
    margin-bottom: 3px;
}

#files-modal .rotate-btn-img {
    width: 22px;
}

#files-display {
    margin-bottom: 10px;
}

#files-display .slick-slide {
    outline: 0;
}

#files-display.slick-initialized .slick-slide {
    margin-top: 45px;
}

#files-display.slick-initialized button.slick-arrow {
    position: absolute;
    top: 0;
    z-index: 10;
}
#files-display.slick-initialized button.slick-arrow.slick-prev {
    left: 0;
}
#files-display.slick-initialized button.slick-arrow.slick-next {
    right: 0;
}

#files-display:not(.slick-initialized) .carousel-file img {
    display: none;
}

#files-display-details {
    margin-bottom: 15px;
}

#files-display-selector .slick-dots > li {
    margin-bottom: 2px;
}

#files-display-selector .slick-dots > li.slick-active button {
    background-color: #A6D1DF;
}

#keyboard-shortcut-notify {
    position: fixed;
    right: 0;
    bottom: 50px;
    padding: 8px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#keyboard-shortcut-list {
    display: none;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}
