body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}

#footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

#global-toolbar .dropdown {
    float: right;
}

#global-toolbar #actions-list:focus {
    outline: none;
    text-decoration: none;
}

#global-toolbar #actions-list:focus:hover {
    text-decoration: underline;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.file-thumb {
    width: 25px;
    height: 25px;
}

.dir-row .folder-icon {
    width: 25px;
    height: 25px;
}

#loader {
    width: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white;
    padding-right: 0 !important;
}
#loader .loader-img {
    margin-bottom: 5px;
    width: 100%;
}
#loader .progress {
    margin-bottom: 0;
}

#files-modal .toolset {
    margin-bottom: 3px;
}

#files-modal .rotate-btn-img {
    width: 22px;
}

#files-display {
    margin-bottom: 10px;
}

#files-display .slick-slide {
    outline: 0;
}

#files-display.slick-initialized .slick-slide {
    margin-top: 45px;
}

#files-display.slick-initialized button.slick-arrow {
    position: absolute;
    top: 0;
    z-index: 10;
}
#files-display.slick-initialized button.slick-arrow.slick-prev {
    left: 0;
}
#files-display.slick-initialized button.slick-arrow.slick-next {
    right: 0;
}

#files-display:not(.slick-initialized) .carousel-file img {
    display: none;
}

#files-display-details {
    margin-bottom: 15px;
}

#files-display-details .date-taken {
    float: left;
}

#files-display-details .metadata-display,
#files-display-details .gps-display {
    float: right;
}

#files-display-details .metadata-display .metadata-container {
    display: none;
}

#files-display-selector {
    overflow-y: scroll;
    max-height: 200px;
}

#files-display-selector .slick-dots > li {
    margin-bottom: 2px;
}

#files-display-selector .slick-dots > li.slick-active button {
    background-color: #A6D1DF;
}

#map-container {
    height: 420px;
}

.sidebar-toolbox {
    position: fixed;
    right: 0;
    padding: 8px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: white;
}

#available-actions {
    bottom: 130px;
}

#available-actions ul {
    margin-bottom: 0;
}

#available-actions ul > li:not(:last-child) {
    margin-bottom: 5px;
}

#available-actions ul > li > button {
    width: 100%;
}

#keyboard-shortcut-notify {
    bottom: 50px;
}

#keyboard-shortcut-list {
    display: none;
}

.modal.in {
    -webkit-perspective: 2000px;
            perspective: 2000px;
}

.modal.in.aside .modal-dialog {
    -webkit-transform: scale(0.7) rotateY(43deg) translateX(-300px);
            transform: scale(0.7) rotateY(43deg) translateX(-300px);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.modal.in.aside.aside-1 .modal-dialog {
    -webkit-transform: scale(0.7) rotateY(43deg) translateX(-270px);
            transform: scale(0.7) rotateY(43deg) translateX(-270px);
}

.fa-pulse {
    -webkit-animation: fa-spin 1.5s infinite steps(8);
            animation: fa-spin 1.5s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

[data-visible-state="closed"] {
    display: none;
}

[data-visible-state="open"] {
    display: block;
}

.pictorials-alert {
    padding: 15px;
    border-radius: 4px;
}
